:root {
  --accent: rgb(137,180,250);
  --accent-alpha-70: rgba(137,180,250,.7);
  --accent-alpha-20: rgba(137,180,250,.2);

  --background: rgba(26,26,26);
  --color: rgba(205,214,244);
  --border-color: rgba(205,214,244, .1);
}
