:root {
  --accent: rgb(163,190,140);
  --accent-alpha-70: rgba(163,190,140,.7);
  --accent-alpha-20: rgba(163,190,140,.2);

  --background: #2E3440;
  --color: #D8DEE9;
  --border-color: rgba(216,222,233, .1);
}
