:root {
  --accent: rgb(250,179,135);
  --accent-alpha-70: rgba(250,179,135,.7);
  --accent-alpha-20: rgba(250,179,135,.2);

  --background: rgba(26,26,26);
  --color: rgba(205,214,244);
  --border-color: rgba(205,214,244, .1);
}
