:root {
  --accent: rgb(245, 194, 231);
  --accent-alpha-70: rgba(245, 194, 231,.7);
  --accent-alpha-20: rgba(245, 194, 231,.2);

  --background: rgba(26,26,26);
  --color: rgba(205,214,244);
  --border-color: rgba(205,214,244, .1);
}
