:root {
  --accent: rgb(180,140,173);
  --accent-alpha-70: rgba(180,140,173,.7);
  --accent-alpha-20: rgba(180,140,173,.2);

  --background: #2E3440;
  --color: #D8DEE9;
  --border-color: rgba(216,222,233, .1);
}
