:root {
  --accent: rgb(243, 139, 168);
  --accent-alpha-70: rgba(243, 139, 168,.7);
  --accent-alpha-20: rgba(243, 139, 168,.2);

  --background: rgba(26,26,26);
  --color: rgba(205,214,244);
  --border-color: rgba(205,214,244, .1);
}
