:root {
  --accent: rgb(235,203,139);
  --accent-alpha-70: rgba(235,203,139,.7);
  --accent-alpha-20: rgba(235,203,139,.2);

  --background: #2E3440;
  --color: #D8DEE9;
  --border-color: rgba(216,222,233, .1);
}
